# python을 통한 DB connection

## 1-1. Postgresql 라이브러리를 활용한 Connection

### 1) Connection

In [6]:
!pip install psycopg2

Requirement already satisfied: psycopg2 in c:\users\user\anaconda3\lib\site-packages (2.9.10)

In [7]:
import psycopg2

In [18]:
db = psycopg2.connect(
    host="127.0.0.1", dbname="postgres", user="postgres", password="1234", port=5432
)

cursor = db.cursor()

### 2) CRUD Execution

In [1]:
create_query = "CREATE TABLE lecture (id SERIAL PRIMARY KEY, name VARCHAR(32), year INT, gender VARCHAR(10), count INT);"

insert_query = "INSERT INTO lecture VALUES(1,'TOM', 2024, 'M', 1100);"

update_query = """
    UPDATE lecture
    SET id = 1,
        name = 'CHUNJAE',
        year = '1994',
        gender = 'M',
        count = '1000'
    WHERE id = 1;
    """

delete_query = "DELETE FROM lecture WHERE id = 1;"

drop_query = "DROP TABLE lecture"

In [10]:
# Create table
cursor.execute(create_query)
db.commit()

In [11]:
# Insert table
cursor.execute(insert_query)
db.commit()

In [23]:
# Select
cursor.execute("SELECT * FROM lecture")
cursor.fetchall()

UndefinedTable: 오류:  "lecture" 이름의 릴레이션(relation)이 없습니다
LINE 1: SELECT * FROM lecture
                      ^

In [20]:
# Update ROW
cursor.execute(update_query)
db.commit()

cursor.execute("SELECT * FROM lecture")
cursor.fetchall()

[(1, 'CHUNJAE', 1994, 'M', 1000)]

In [21]:
# Delete ROW
cursor.execute(delete_query)
db.commit()

cursor.execute("SELECT * FROM lecture")
cursor.fetchall()

[]

In [22]:
# DROP ROW
cursor.execute(drop_query)
db.commit()

### 3) Connection Pool

In [24]:
# Connection 종료

cursor.close()

## 1-2. ORM 라이브러리를 활용한 connection

#### ORM(object realtional mapping)

### 1) connection 및 Session

In [1]:
from sqlalchemy import create_engine, text
from sqlalchemy.orm import sessionmaker

engine_name = "postgresql"
user_id = "postgres"
user_pw = "1234"
host = "127.0.0.1"
port = "5432"
database = "postgres"

db = create_engine(f"{engine_name}://{user_id}:{user_pw}@{host}:{port}/{database}")

cursor = db.connect()

Session = sessionmaker(bind=db)
session = Session()

In [30]:
cursor.close()

In [2]:
from sqlalchemy import Column, INTEGER, VARCHAR
from sqlalchemy.orm import declarative_base

In [3]:
Base = declarative_base()


class lecture(Base):
    __tablename__ = "lecture"

    id = Column("id", INTEGER, primary_key=True, autoincrement=True)
    name = Column("name", VARCHAR(10), nullable=False)
    year = Column("year", INTEGER, nullable=False)
    gender = Column("gender", VARCHAR(10), nullable=False)
    count = Column("count", INTEGER, nullable=False)


# Create
Base.metadata.create_all(db)

### 3) ORM을 활용한 CRUD

In [50]:
# one select

res = session.query(lecture).first()

print(res.id, res.name, res.year, res.gender, res.count)

AttributeError: 'NoneType' object has no attribute 'id'

In [44]:
# Insert
datal = lecture(id=3, name="chunjae", year=1990, gender="M", count=1234)
session.add(datal)
session.commit()

In [47]:
# Update
session.query(lecture).filter(lecture.name == " chunjae").update(
    {"gender": "F", "count": 1500}
)
session.commit()

In [76]:
# Delete
session.query(lecture).filter(lecture.id == 3).delete()
session.commit()

### 4) ORM Core 방법을 활용한 CRUD

In [4]:
from sqlalchemy import create_engine, Table, column, Integer, String, MetaData
from sqlalchemy.orm import sessionmaker

db = create_engine(f"{engine_name}://{user_id}:{user_pw}@{host}:{port}/{database}")

Session = sessionmaker(db)
session = Session()

meta = MetaData()

core_table = Table(
    "first",
    meta,
    Column("id", Integer, primary_key=True, autoincrement=True),
    Column("name", String),
    Column("year", Integer),
    Column("gender", String),
    Column("count", Integer),
)

meta.create_all(db)

In [5]:
from sqlalchemy import insert, update, delete

# Select ALL
res = core_table.select()
result = session.execute(res)

for row in result:
    print(row)

(1, 'hahaha', 2023, 'M', 5)
(2, 'hahaha', 2023, 'M', 5)
(3, 'hahaha', 2023, 'M', 5)
(4, 'hahaha', 2023, 'M', 5)
(5, 'hwang', 1994, 'M', 12)
(6, 'jeong', 1996, 'F', 32)
(7, None, None, None, None)
(8, 'hahaha', 2023, 'M', 5)
(9, 'hahaha', 2023, 'M', 5)
(10, 'hahaha', 2023, 'M', 5)
(11, 'hahaha', 2023, 'M', 5)
(12, 'hahaha', 2023, 'M', 5)
(13, 'hahaha', 2023, 'M', 5)
(14, 'hahaha', 2023, 'M', 5)
(15, 'hahaha', 2023, 'M', 5)
(16, 'hahaha', 2023, 'M', 5)
(17, 'hahaha', 2023, 'M', 5)
(18, 'hahaha', 2023, 'M', 5)
(19, 'hahaha', 2023, 'M', 5)
(20, 'hahaha', 2023, 'M', 5)
(21, 'hwang', 1994, 'M', 12)
(22, 'jeong', 1996, 'F', 32)

In [8]:
# Insert one
stmt = insert(core_table).values(name="hahaha", year=2023, gender="M", count=5)

with db.connect() as conn:
    result = conn.execute(stmt)
    conn.commit()

C:\Users\user\AppData\Local\Temp\ipykernel_7784\1301075869.py:5: RemovedIn20Warning: Deprecated API features detected! These feature(s) are not compatible with SQLAlchemy 2.0. To prevent incompatible upgrades prior to updating applications, ensure requirements files are pinned to "sqlalchemy<2.0". Set environment variable SQLALCHEMY_WARN_20=1 to show all deprecation warnings.  Set environment variable SQLALCHEMY_SILENCE_UBER_WARNING=1 to silence this message. (Background on SQLAlchemy 2.0 at: https://sqlalche.me/e/b8d9)
  result = conn.execute(stmt)

AttributeError: 'Connection' object has no attribute 'commit'

In [9]:
# Insert multi
stmt = insert(core_table)
data_list = [
    {"name": "hwang", "year": 1994, "gender": "M", "count": 12},
    {"name": "jeong", "year": 1996, "gender": "F", "count": 32},
]

with db.connect() as conn:
    result = conn.execute(stmt, data_list)
    conn.commit()

AttributeError: 'Connection' object has no attribute 'commit'

In [66]:
# Update
stmp = update(core_table).where(core_table.c.name == "jeong").values(year=1000)
with db.connect() as conn:
    result = conn.execute(stmt)
    conn.commit()

AttributeError: 'Connection' object has no attribute 'commit'

In [6]:
# Delete
stmp = delete(core_table).where(core_table.c.name == "hahaha")
with db.connect() as conn:
    result = conn.execute(stmt)
    conn.commit()

NameError: name 'stmt' is not defined

In [ ]:
# Drop
first_table = Table("first", Base.metadata, autoload_with=db)
first_table.drop(db)

## 1-3 . Python을 활용한 Bulk Insert
### 1. For문을 활용한 Insert
### 2. to.sql() 함수를 활용한 Insert
### 3. execute_Values() 함수를 활용한 Insert

#### pandas for loop

In [ ]:
import psycopg2 as pgsql

In [8]:
import psycopg2 as pgsql

# database connection
db = psycopg2.connect(
    host="127.0.0.1", dbname="postgres", user="postgres", password="1234", port=5432
)

cursor = db.cursor()

In [10]:
drop_query = "DROP TABLE lecture"
cursor.execute(drop_query)
db.commit()

In [11]:
create_query = "CREATE TABLE lecture (id SERIAL PRIMARY KEY, name VARCHAR(65533), year INT, gender VARCHAR(65533), count INT);"
cursor.execute(create_query)
db.commit()

In [12]:
import pandas as pd

df = pd.read_csv("./dataset/data-01/names.csv")
df.head()

   id       name  year gender  count
0   1       Mary  1880      F   7065
1   2       Anna  1880      F   2604
2   3       Emma  1880      F   2003
3   4  Elizabeth  1880      F   1939
4   5     Minnie  1880      F   1746

In [16]:
df.shape

(2000, 5)

In [17]:
# Bulk Insert
df.to_sql(name="lecture", con=db, if_exists="replace")

C:\Users\user\AppData\Local\Temp\ipykernel_18120\145932236.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df.to_sql(name = "lecture", con = db, if_exists="replace")

DatabaseError: Execution failed on sql '
        SELECT
            name
        FROM
            sqlite_master
        WHERE
            type IN ('table', 'view')
            AND name=?;
        ': 오류:  구문 오류, ";" 부근
LINE 8:             AND name=?;
                              ^

In [19]:
# Bulk Insert

for data in range(len(df)):
    datas = tuple(df.iloc[data])
    query = f"INSERT INTO lecture VALUES{datas}"
    cursor.execute(query)

db.commit()

In [22]:
# Select

cursor.execute("SELECT * FROM lecture LIMIT 5")
cursor.fetchall()

[]

#### 2) pandas - to_sql() 메소드

- dataframe.to_sql(테이블명, sqlalchemy_connector, option)

In [21]:
delete_query = "DELETE FROM lecture"

cursor.execute(delete_query)
db.commit()

In [27]:
from sqlalchemy import create_engine

engine = "postgresql"
user = "postgres"
password = "1234"
host = "127.0.0.1"
port = "5432"
database = "postgres"

db = create_engine(f"{engine}://{user}:{password}@{host}:{port}/{database}")

In [29]:
db

Engine(postgresql://postgres:***@127.0.0.1:5432/postgres)

In [25]:
import pandas as pd

df = pd.read_csv("./dataset/data-01/names.csv")
df.iloc(1)
df.iloc[1, :]

id           2
name      Anna
year      1880
gender       F
count     2604
Name: 1, dtype: object

In [26]:
# BULK INSERT
df.to_sql(name="lecture", con=db, if_exists="replace")

C:\Users\user\AppData\Local\Temp\ipykernel_18120\827969440.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df.to_sql(name = "lecture", con = db, if_exists="replace")

AttributeError: 'Engine' object has no attribute 'cursor'

### 3) psycopg2 라이브러리의 execute_values() 메소드

In [31]:
import psycopg2

In [32]:
db = psycopg2.connect(
    host="127.0.0.1", dbname="postgres", user="postgres", password="1234", port=5432
)

cursor = db.cursor()

In [33]:
delete_query = "DELETE FROM lecture;"

cursor.execute(delete_query)
db.commit()

In [34]:
cursor.execute("SELECT * FROM lecture")
cursor.fetchall()

[]

In [35]:
import pandas as pd

df = pd.read_csv("./dataset/data-01/names.csv")
df["id"] = df["id"].astype(float)
df["year"] = df["year"].astype(float)
df["count"] = df["count"].astype(float)

insert_list = list()

for i in range(5, 50):
    insert_list.append(tuple(df.iloc[i]))

In [41]:
df.dtypes

id        float64
name       object
year      float64
gender     object
count     float64
dtype: object

In [38]:
import numpy as np
from psycopg2.extensions import register_adapter, AsIs

register_adapter(np.int64, AsIs)

In [40]:
from psycopg2.extras import execute_values

sql = f"INSERT INTO lecture VALUES %s;"
execute_values(cursor, sql, insert_list)
db.commit()

## 2. dotenv라이브러리를 활용한 민감 정보 관리
- 환경 변수에 대한 관리를 효과적이고 안전하게 할 수 있도록 도와주는 python
- DB정보, 비밀번호, API KEY 등 외부에 공유되거나 GIT 에 올리면 안되는 값들을 하드코딩하지 않고 사용

In [6]:
!pip install python-dotenv

Collecting python-dotenv
  Using cached python_dotenv-1.0.1-py3-none-any.whl.metadata (23 kB)
Using cached python_dotenv-1.0.1-py3-none-any.whl (19 kB)
Installing collected packages: python-dotenv
Successfully installed python-dotenv-1.0.1

In [7]:
import dotenv

In [8]:
# PATH

env_path = dotenv.find_dotenv()
print(env_path)

c:\Users\user\Desktop\Chunjae_edu\11_Engineering\01_Pipeline\.env

In [9]:
# .env load
dotenv.load_dotenv(env_path)

True

In [49]:
# .env values
dotenv.dotenv_values(env_path)

OrderedDict([('Host', '876543')])

In [10]:
# .env values change
dotenv.set_key(env_path, "Host", "876543")

(True, 'Host', '876543')

In [11]:
# load

import os
from dotenv import load_dotenv

load_dotenv()

engine = os.getenv("POSTGRES_ENGINE")
user = os.getenv("POSTGRES_USER")
password = os.getenv("POSTGRES_PASSWORD")
host = os.getenv("POSTGRES_HOST")
port = os.getenv("POSTGRES_port")
database = os.getenv("POSTGRES_DB")

(engine, user, password, host, port, database)

('postgresql', 'postgres', '1234', '127.0.0.1', '5432', 'postgres')

### DB connection

In [12]:
import psycopg2

db = psycopg2.connect(
    dbname=database, user=user, password=password, host=host, port=port
)

cursor = db.cursor()

## 3. Python Class를 사용한 DB Connection

#### 0) self

In [13]:
class TempClass:
    def __init__(self, name: str, age: int, count: int):
        self.name = name
        self.age = age
        self.count = count
        self.addage()

    def printall(self):
        print(self.name)
        print(self.age)
        print(self.count)

    def printself(self):
        return self

    def addage(self):
        self.new_age = self.age + 10

In [14]:
a1 = TempClass("chunjae", 2, 3)
s1 = a1.printself()

print(a1)
print(s1)

<__main__.TempClass object at 0x000002D9BF431EB0>
<__main__.TempClass object at 0x000002D9BF431EB0>

In [15]:
# 객체 인자 확인
s1.__dict__

{'name': 'chunjae', 'age': 2, 'count': 3, 'new_age': 12}

In [16]:
[i for i in dir(s1) if "__" not in i]

['addage', 'age', 'count', 'name', 'new_age', 'printall', 'printself']

In [17]:
!pip install easydict

Collecting easydict
  Using cached easydict-1.13-py3-none-any.whl.metadata (4.2 kB)
Using cached easydict-1.13-py3-none-any.whl (6.8 kB)
Installing collected packages: easydict
Successfully installed easydict-1.13

In [18]:
from easydict import EasyDict

self = EasyDict(dict())
self["name"] = "dongin"
self["age"] = 3
self["count"] = 1

s2 = self

type(s2)

s2.hoho = "ho"
s2

{'name': 'dongin', 'age': 3, 'count': 1, 'hoho': 'ho'}

### 1) DB Connector Class

In [26]:
import psycopg2


class DBConnector:
    def __init__(self, host, database, user, password, port):
        self.host = host
        self.database = database
        self.user = user
        self.password = password
        self.port = port

    def postgres_connect(self):
        print("<<< pssql_connector >>>")
        self.conn = psycopg2.connect(
            dbname=self.database,
            user=self.user,
            password=self.password,
            host=self.host,
            port=self.port,
        )

In [35]:
(host, database, user, password, port)

('127.0.0.1', 'postgres', 'postgres', '1234', '5432')

In [45]:
db_object = DBConnector(host, database, user, password, port)

db_conn = db_object.postgres_connect().conn
cursor = db_conn.cursor()

Start Class

In [46]:
db_object.postgres_connect()

In [48]:
db_conn.cursor()

In [33]:
cursor.execute("SELECT * FROM lecture LIMIT 5")
cursor.fetchall()

[(6, 'Margaret', 1880, 'F', 1578),
 (7, 'Ida', 1880, 'F', 1472),
 (8, 'Alice', 1880, 'F', 1414),
 (9, 'Bertha', 1880, 'F', 1320),
 (10, 'Sarah', 1880, 'F', 1288)]

In [32]:
file = open("temp.txt", "a")
file.write("1")
file.write("2")

file.close()

In [47]:
db_object = DBConnector(host, database, user, password, port)

with db_object as connected:
    db_conn = connected.conn
    cursor = db_conn.cursor()

    cursor.execute("SELECT * FROM lecture Limit 5")

Start Class

TypeError: 'DBConnector' object does not support the context manager protocol (missed __exit__ method)

In [38]:
class ContextManger:
    def __init__(self, age):
        print("start! Class")
        self.age = age

    def __enter__(self):
        print("Enter")

    def __exit__(self, exc_type, exc_value, traceback):
        print("Exit!")

    def show(self):
        print(self.age)
        return self.__dict__

In [40]:
context = ContextManger(age=10)
with context:
    print(context.show())

start! Class
Enter
10
{'age': 10}
Exit!

In [54]:
class DBConnector:
    def __init__(self, host, database, user, password, port):
        print("Start Class")
        self.host = host
        self.database = database
        self.user = user
        self.password = password
        self.port = port
        self.connect = self.postgres_connect()

    def __enter__(self):
        print("Enter")
        return self

    def __exit__(self, exc_type, exc_value, traceback):
        self.conn.close()
        print("Exit")

    def postgres_connect(self):
        self.conn = psycopg2.connect(
            host=self.host,
            dbname=self.database,
            user=self.user,
            password=self.password,
            port=self.port,
        )

        return self

In [52]:
db_object = DBConnector(host, database, user, password, port)
db_conn = db_object.postgres_connect().conn

cursor = db_conn.cursor()

Start Class

In [56]:
db_object = DBConnector(host, database, user, password, port)


with db_object as connected:
    db_conn = connected.conn
    cursor = db_conn.cursor()

    cursor.execute("SELECT * FROM lecture LIMIT 10")
    print(cursor.fetchall())

Start Class
Enter
[(6, 'Margaret', 1880, 'F', 1578), (7, 'Ida', 1880, 'F', 1472), (8, 'Alice', 1880, 'F', 1414), (9, 'Bertha', 1880, 'F', 1320), (10, 'Sarah', 1880, 'F', 1288), (11, 'Annie', 1880, 'F', 1258), (12, 'Clara', 1880, 'F', 1226), (13, 'Ella', 1880, 'F', 1156), (14, 'Florence', 1880, 'F', 1063), (15, 'Cora', 1880, 'F', 1045)]
Exit

In [57]:
class DBConnector:
    def __init__(self, host, database, user, password, port):
        self.conn_params = dict(
            host=host, dbname=database, user=user, password=password, port=port
        )

        self.host = host
        self.database = database
        self.user = user
        self.password = password
        self.port = port

    def __enter__(self):
        print("Enter")
        return self

    def __exit__(self, exc_type, exc_value, traceback):
        self.conn.close()
        print("Exit")

    def postgres_connect(self):
        print("<<< postgres_connect >>>")
        self.conn = psycopg2.connect(
            host=self.host,
            dbname=self.database,
            user=self.user,
            password=self.password,
            port=self.port,
        )

        return self

#### Asterisk(*)

In [60]:
def func(one, two):
    print("one = ", one)
    print("two = ", two)


func(1, 2)

one =  1
two =  2

In [61]:
# *arg, -> 이름이 정해지지 않은 변수를 여러개 사용가능


def func(*args):
    print("*args = ", args)
    print(sum(args))


func(1, 2, 3)

*args =  (1, 2, 3)
6

In [63]:
# **kwargs -> 이름이 정해진 변수


def func(**kwargs):
    print("**kwargs = ", kwargs)


func(one=1, two=2)

**kwargs =  {'one': 1, 'two': 2}

In [64]:
test = DBConnector(1, 2, 3, 4, 5)
test.conn_params

{'host': 1, 'dbname': 2, 'user': 3, 'password': 4, 'port': 5}

In [65]:
# List
args = [1, 2, 3, 4, 5]

list_params = DBConnector(*args)

list_params.conn_params

{'host': 1, 'dbname': 2, 'user': 3, 'password': 4, 'port': 5}

In [66]:
# Dict

kwargs = dict(host=1, database=2, user=3, password=4, port=5)

dict_params = DBConnector(**kwargs)

dict_params.conn_params

{'host': 1, 'dbname': 2, 'user': 3, 'password': 4, 'port': 5}

In [74]:
class DBConnector:
    def __init__(self, host, database, user, password, port):
        print("Start DBConnector")
        self.conn_params = dict(
            host=host, dbname=database, user=user, password=password, port=port
        )

        self.connect = self.postgres_connect()

    def __enter__(self):
        print("Enter")
        return self

    def __exit__(self, exc_type, exc_value, traceback):
        self.conn.close()
        print("Exit")

    def postgres_connect(self):
        self.conn = psycopg2.connect(**self.conn_params)
        return self

In [90]:
db_object = DBConnector(host, database, user, password, port)

with db_object as connected:
    db_conn = connected.conn
    cursor = db_conn.cursor()

    cursor.execute("SELECT * FROM lecture LIMIT 5")
    print(cursor.fetchall())

Start DBConnector
Enter
[(6, 'Margaret', 1880, 'F', 1578), (7, 'Ida', 1880, 'F', 1472), (8, 'Alice', 1880, 'F', 1414), (9, 'Bertha', 1880, 'F', 1320), (10, 'Sarah', 1880, 'F', 1288)]
Exit

In [76]:
import dotenv, psycopg2

env_path = dotenv.find_dotenv()

dotenv.load_dotenv(env_path)


import os
from dotenv import load_dotenv

load_dotenv()

engine = os.getenv("POSTGRES_ENGINE")
user = os.getenv("POSTGRES_USER")
password = os.getenv("POSTGRES_PASSWORD")
host = os.getenv("POSTGRES_HOST")
port = os.getenv("POSTGRES_port")
database = os.getenv("POSTGRES_DB")

In [81]:
DB_SETTING = {
    "POSTGRES": {
        "host": os.getenv("POSTGRES_HOST"),
        "database": os.getenv("POSTGRES_DB"),
        "user": os.getenv("POSTGRES_USER"),
        "port": os.getenv("POSTGRES_port"),
        "password": os.getenv("POSTGRES_PASSWORD"),
    },
    KDT_9: {
        "host": os.getenv("POSTGRES_HOST"),
        "database": os.getenv("POSTGRES_DB_2"),
        "user": os.getenv("POSTGRES_USER"),
        "port": os.getenv("POSTGRES_port"),
        "password": os.getenv("POSTGRES_PASSWORD"),
    },
}

In [82]:
DB_SETTING["POSTGRES"]

{'host': '127.0.0.1',
 'database': 'postgres',
 'user': 'postgres',
 'port': '5432',
 'password': '1234'}

In [92]:
db_object = DBConnector(**DB_SETTING["POSTGRES"])

with db_object as connected:
    db_conn = connected.conn
    cursor = db_conn.cursor()

    cursor.execute("SELECT *FROM lecture LIMIT 5")
    print(cursor.fetchall())

Start DBConnector
Enter
[(6, 'Margaret', 1880, 'F', 1578), (7, 'Ida', 1880, 'F', 1472), (8, 'Alice', 1880, 'F', 1414), (9, 'Bertha', 1880, 'F', 1320), (10, 'Sarah', 1880, 'F', 1288)]
Exit

In [93]:
db_object = DBConnector(**DB_SETTING["POSTGRES"])

with db_object as connected:
    db_conn = connected.conn
    cursor = db_conn.cursor()

    cursor.execute("SELECT table_name FROM INFORMATION_SCHEMA.TABLES")
    print(cursor.fetchall())

Start DBConnector
Enter
[('pg_statistic',), ('pg_type',), ('pg_foreign_table',), ('pg_authid',), ('pg_shadow',), ('first',), ('pg_roles',), ('lecture',), ('pg_statistic_ext_data',), ('pg_hba_file_rules',), ('pg_settings',), ('pg_file_settings',), ('pg_backend_memory_contexts',), ('pg_ident_file_mappings',), ('pg_config',), ('pg_shmem_allocations',), ('pg_tables',), ('pg_user_mapping',), ('pg_statio_all_sequences',), ('pg_replication_origin_status',), ('pg_subscription',), ('pg_attribute',), ('pg_proc',), ('pg_class',), ('pg_attrdef',), ('pg_statio_sys_sequences',), ('pg_statio_user_sequences',), ('pg_constraint',), ('pg_inherits',), ('pg_index',), ('pg_operator',), ('pg_opfamily',), ('pg_opclass',), ('pg_am',), ('pg_amop',), ('pg_amproc',), ('pg_language',), ('pg_largeobject_metadata',), ('pg_aggregate',), ('pg_statistic_ext',), ('pg_rewrite',), ('pg_trigger',), ('pg_event_trigger',), ('pg_description',), ('pg_cast',), ('pg_enum',), ('pg_namespace',), ('pg_conversion',), ('pg_depend',), ('pg_database',), ('pg_db_role_setting',), ('pg_tablespace',), ('pg_auth_members',), ('pg_shdepend',), ('pg_shdescription',), ('pg_ts_config',), ('pg_ts_config_map',), ('pg_ts_dict',), ('pg_ts_parser',), ('pg_ts_template',), ('pg_extension',), ('pg_foreign_data_wrapper',), ('pg_foreign_server',), ('pg_policy',), ('pg_replication_origin',), ('pg_default_acl',), ('pg_init_privs',), ('pg_seclabel',), ('pg_shseclabel',), ('pg_collation',), ('pg_parameter_acl',), ('pg_partitioned_table',), ('pg_range',), ('pg_transform',), ('pg_sequence',), ('pg_publication',), ('pg_publication_namespace',), ('pg_publication_rel',), ('pg_subscription_rel',), ('pg_group',), ('pg_user',), ('pg_policies',), ('pg_rules',), ('pg_views',), ('pg_matviews',), ('pg_indexes',), ('pg_sequences',), ('pg_stats',), ('pg_stats_ext',), ('pg_stats_ext_exprs',), ('pg_publication_tables',), ('pg_locks',), ('pg_cursors',), ('pg_available_extensions',), ('pg_available_extension_versions',), ('pg_prepared_xacts',), ('pg_prepared_statements',), ('pg_seclabels',), ('pg_timezone_abbrevs',), ('pg_timezone_names',), ('pg_stat_all_tables',), ('pg_stat_xact_all_tables',), ('pg_stat_xact_user_tables',), ('pg_stat_sys_tables',), ('pg_stat_xact_sys_tables',), ('pg_stat_user_tables',), ('pg_statio_all_tables',), ('pg_statio_sys_tables',), ('pg_statio_user_tables',), ('pg_stat_all_indexes',), ('pg_stat_sys_indexes',), ('pg_stat_user_indexes',), ('pg_statio_all_indexes',), ('pg_statio_sys_indexes',), ('pg_statio_user_indexes',), ('pg_stat_activity',), ('pg_stat_replication',), ('pg_stat_slru',), ('pg_stat_wal_receiver',), ('pg_stat_recovery_prefetch',), ('pg_stat_subscription',), ('pg_stat_ssl',), ('pg_stat_gssapi',), ('pg_replication_slots',), ('pg_stat_replication_slots',), ('pg_stat_database',), ('pg_stat_database_conflicts',), ('pg_stat_user_functions',), ('pg_stat_xact_user_functions',), ('pg_stat_archiver',), ('pg_stat_bgwriter',), ('pg_stat_checkpointer',), ('pg_stat_io',), ('pg_stat_wal',), ('pg_stat_progress_analyze',), ('pg_stat_progress_vacuum',), ('pg_stat_progress_cluster',), ('pg_stat_progress_create_index',), ('pg_stat_progress_basebackup',), ('pg_stat_progress_copy',), ('pg_user_mappings',), ('pg_stat_subscription_stats',), ('pg_wait_events',), ('pg_largeobject',), ('column_column_usage',), ('information_schema_catalog_name',), ('check_constraints',), ('applicable_roles',), ('administrable_role_authorizations',), ('attributes',), ('collations',), ('character_sets',), ('check_constraint_routine_usage',), ('column_privileges',), ('collation_character_set_applicability',), ('column_domain_usage',), ('column_udt_usage',), ('columns',), ('constraint_column_usage',), ('constraint_table_usage',), ('domain_constraints',), ('routine_table_usage',), ('domain_udt_usage',), ('domains',), ('enabled_roles',), ('routines',), ('key_column_usage',), ('parameters',), ('referential_constraints',), ('schemata',), ('role_column_grants',), ('routine_column_usage',), ('sql_parts',), ('routine_privileges',), ('sequences',), ('role_routine_grants',), ('routine_routine_usage',), ('routine_sequence_usage',), ('sql_features',), ('sql_implementation_info',), ('role_table_grants',), ('sql_sizing',), ('table_privileges',), ('table_constraints',), ('transforms',), ('tables',), ('triggered_update_columns',), ('triggers',), ('udt_privileges',), ('_pg_foreign_data_wrappers',), ('role_udt_grants',), ('usage_privileges',), ('foreign_tables',), ('role_usage_grants',), ('foreign_data_wrapper_options',), ('user_defined_types',), ('view_column_usage',), ('view_routine_usage',), ('foreign_data_wrappers',), ('view_table_usage',), ('views',), ('_pg_foreign_servers',), ('data_type_privileges',), ('element_types',), ('_pg_foreign_table_columns',), ('_pg_user_mappings',), ('column_options',), ('foreign_server_options',), ('foreign_servers',), ('_pg_foreign_tables',), ('foreign_table_options',), ('user_mapping_options',), ('user_mappings',)]
Exit