# 과제

## Data

In [9]:
member_dup = spark.read.parquet("./sample_data/member_dup.parquet")
member = spark.read.parquet("./sample_data/member.parquet")
point_his = spark.read.parquet("./sample_data/point_his.parquet")
item_his = spark.read.parquet("./sample_data/item_his.parquet")
study_his = spark.read.parquet("./sample_data/study_his.parquet")
regdate = spark.read.parquet("./sample_data/regdate.parquet")


member_dup.show(10)
member.show(10)
point_his.show(10)
item_his.show(10)
study_his.show(10)
regdate.show(10)

+-----+---+--------+-------+
|  idx|sex|  status|  grade|
+-----+---+--------+-------+
| 6884| 여|유료회원|초3학년|
| 6331| 남|유료회원|초3학년|
|69294| 남|유료회원|초5학년|
|31531| 여|유료회원|초1학년|
|85784| 여|유료회원|초2학년|
|58058| 여|유료회원|초3학년|
|  777| 남|유료회원|초3학년|
| 5482| 여|유료회원|초2학년|
|63447| 남|유료회원|초2학년|
|54957| 남|유료회원|초4학년|
+-----+---+--------+-------+
only showing top 10 rows

+------+---+--------+-------+
|   idx|sex|  status|  grade|
+------+---+--------+-------+
|   100| 남|유료회원|초1학년|
|  1000| 여|유료회원|초5학년|
| 10000| 여|유료회원|초6학년|
|100007| 남|유료회원|초4학년|
| 10001| 남|유료회원|초2학년|
|100010| 남|유료회원|초4학년|
|100011| 여|유료회원|초4학년|
|100017| 여|유료회원|  0학년|
|100019| 남|유료회원|초3학년|
| 10002| 여|유료회원|초4학년|
+------+---+--------+-------+
only showing top 10 rows

+-----+-------+--------+-----+
|  idx|proc_ym|proc_ymd|point|
+-----+-------+--------+-----+
|96465| 202306|20230624| 1000|
|96465| 202306|20230624|  500|
|87940| 202304|20230405| 2000|
|87940| 202304|20230405| 3500|
|87940| 202304|20230405| 4000|
|87940| 202304|20230405| 3000|
|87940| 202304|20230405| 2500|
|88058| 202304|20230405| 3000|
|88058| 202304|20230405| 1000|
|88058| 202304|20230405| 1500|
+-----+-------+--------+-----+
only showing top 10 rows

+-----+-----+-------+--------+----------+--------------+-----+
|  idx|   lv|proc_ym|proc_ymd|  codename|   mascodename|price|
+-----+-----+-------+--------+----------+--------------+-----+
|53687|175.0| 202305|20230508|  액세서리|아바타파츠구분|   50|
|53687|175.0| 202305|20230508|상태메시지|  기타파츠구분|   50|
|20163|161.0| 202304|20230408|  액세서리|아바타파츠구분|   50|
|88572| 14.0| 202304|20230408|상태메시지|  기타파츠구분|   50|
|88572| 14.0| 202304|20230408|상태메시지|  기타파츠구분|   50|
|26112|130.0| 202304|20230405|  액세서리|아바타파츠구분|   50|
|26112|130.0| 202304|20230405|      헤어|아바타파츠구분|  150|
|49541|170.0| 202306|20230630|      얼굴|아바타파츠구분|  150|
|49541|170.0| 202306|20230630|      신발|아바타파츠구분|  150|
|49541|170.0| 202306|20230630|상태메시지|  기타파츠구분|   50|
+-----+-----+-------+--------+----------+--------------+-----+
only showing top 10 rows

+-----+-------+--------+-----------+
|  idx|proc_ym|proc_ymd|    pointnm|
+-----+-------+--------+-----------+
|88311| 202306|20230628|한글 스피치|
| 8604| 202306|20230606| 중학 3학년|
| 8604| 202306|20230606| 중학 3학년|
| 8604| 202306|20230606| 중학 3학년|
| 8604| 202306|20230606| 중학 3학년|
| 8604| 202306|20230606| 중학 3학년|
| 8604| 202306|20230606| 중학 3학년|
| 8604| 202306|20230606| 중학 3학년|
| 8604| 202306|20230606| 중학 3학년|
| 8604| 202306|20230606| 중학 3학년|
+-----+-------+--------+-----------+
only showing top 10 rows

+---+--------+
|idx| regdate|
+---+--------+
|  1|20221206|
|  2|20221206|
|  3|20221206|
|  4|20221206|
|  5|20221206|
|  7|20221206|
|  8|20221206|
|  9|20221206|
| 10|20221206|
| 11|20221206|
+---+--------+
only showing top 10 rows

### 1. member 테이블에서 회원 상태별 인원수를 내림차순으로 보여주세요. (6)

In [51]:
member.groupBy(F.col('status')).count().orderBy(F.col('count'), ascending = False).show()

+--------+-----+
|  status|count|
+--------+-----+
|유료회원|66032|
|학습만료|   92|
|    신규|   75|
|  재구매|   70|
|    이월|   22|
|    복회|    7|
|    취소|    6|
+--------+-----+

### 2. study_his 테이블의 pointnm 컬럼에 대해 공백을 모두 없애주세요 (6)

In [18]:
study_his.withColumn("pointnm", F.regexp_replace(F.col("pointnm"), " ", "")).show()

+-----+-------+--------+----------+
|  idx|proc_ym|proc_ymd|   pointnm|
+-----+-------+--------+----------+
|88311| 202306|20230628|한글스피치|
| 8604| 202306|20230606| 중학3학년|
| 8604| 202306|20230606| 중학3학년|
| 8604| 202306|20230606| 중학3학년|
| 8604| 202306|20230606| 중학3학년|
| 8604| 202306|20230606| 중학3학년|
| 8604| 202306|20230606| 중학3학년|
| 8604| 202306|20230606| 중학3학년|
| 8604| 202306|20230606| 중학3학년|
| 8604| 202306|20230606| 중학3학년|
| 8604| 202306|20230606| 중학3학년|
| 8604| 202306|20230606| 중학3학년|
| 8604| 202306|20230606| 중학3학년|
| 8604| 202306|20230606| 중학3학년|
|89542| 202305|20230509| 중학3학년|
|23940| 202305|20230516| 중학1학년|
|23940| 202305|20230516| 중학1학년|
|40502| 202304|20230412| 중학1학년|
| 1741| 202304|20230405| 중학1학년|
|50161| 202304|20230428| 중학1학년|
+-----+-------+--------+----------+
only showing top 20 rows

### 3. point_his의 proc_ymd 컬럼의 날짜 표현 형식을 yyyy-mm-dd 형식이 되도록 바꿔주세요. (6)(UDF, slicing 사용 X)

In [ ]:
point_his.show()

+-----+---+--------+-------+
|  idx|sex|  status|  grade|
+-----+---+--------+-------+
| 6884| 여|유료회원|초3학년|
| 6331| 남|유료회원|초3학년|
|69294| 남|유료회원|초5학년|
|31531| 여|유료회원|초1학년|
|85784| 여|유료회원|초2학년|
|58058| 여|유료회원|초3학년|
|  777| 남|유료회원|초3학년|
| 5482| 여|유료회원|초2학년|
|63447| 남|유료회원|초2학년|
|54957| 남|유료회원|초4학년|
|55340| 남|유료회원|초2학년|
|72887| 여|유료회원|초3학년|
|40008| 여|유료회원|초3학년|
|57551| 남|유료회원|초5학년|
|58583| 여|유료회원|초3학년|
|32219| 남|유료회원|초1학년|
|13136| 여|유료회원|초4학년|
|22122| 남|유료회원|초6학년|
|18306| 남|유료회원|초4학년|
|28057| 남|유료회원|초3학년|
+-----+---+--------+-------+
only showing top 20 rows

In [19]:
point_his.withColumn("proc_ymd", F.date_format(F.to_date(F.col("proc_ymd").cast("string"), "yyyyMMdd"), "yyyy-MM-dd")).show()

+-----+-------+----------+-----+
|  idx|proc_ym|  proc_ymd|point|
+-----+-------+----------+-----+
|96465| 202306|2023-06-24| 1000|
|96465| 202306|2023-06-24|  500|
|87940| 202304|2023-04-05| 2000|
|87940| 202304|2023-04-05| 3500|
|87940| 202304|2023-04-05| 4000|
|87940| 202304|2023-04-05| 3000|
|87940| 202304|2023-04-05| 2500|
|88058| 202304|2023-04-05| 3000|
|88058| 202304|2023-04-05| 1000|
|88058| 202304|2023-04-05| 1500|
|88058| 202304|2023-04-05| 2500|
|88058| 202304|2023-04-05|  500|
|88058| 202304|2023-04-05| 2000|
|95844| 202306|2023-06-17| 1500|
|95844| 202306|2023-06-17| 1000|
|95050| 202306|2023-06-12| 3500|
|95050| 202306|2023-06-12| 4000|
|95050| 202306|2023-06-12| 4500|
|92560| 202305|2023-05-11| 1000|
|92560| 202305|2023-05-11|  500|
+-----+-------+----------+-----+
only showing top 20 rows

### 4. member 회원상태(status)가 학습만료 회원들 중 포인트가 가장 많은 TOP3 학생을 뽑아주세요

In [22]:
member.filter(F.col("status") == "학습만료") \
    .join(point_his, on="idx") \
    .groupBy("idx", "status") \
    .agg(F.sum("point").alias("total_point")) \
    .orderBy(F.col("total_point").desc()) \
    .limit(3).show()

+---+------+-----------+
|idx|status|total_point|
+---+------+-----------+
+---+------+-----------+

### 5. member_dup 테이블에 학년이 여러개인 idx가 있습니다. 해당 idx의 학년 중 가장 높은 학년만 남겨서 idx와 grade가 1:1 대응이 되도록 만들어주세요 (8)

In [28]:
from pyspark.sql.window import Window as W

window_spec = W.partitionBy("idx").orderBy(F.desc("grade"))

member_dup.withColumn("row_number", F.row_number().over(window_spec)) \
    .filter(F.col("row_number") == 1) \
    .drop("row_number") \
    .show()

+------+---+--------+-------+
|   idx|sex|  status|  grade|
+------+---+--------+-------+
|100010| 남|유료회원|초4학년|
|100140| 여|유료회원|초4학년|
| 10096| 여|  재구매|초5학년|
| 10436| 남|유료회원|초6학년|
| 11078| 여|유료회원|초4학년|
| 11332| 남|유료회원|초3학년|
| 11563| 여|유료회원|초3학년|
|  1159| 남|유료회원|초5학년|
| 11722| 남|유료회원|초2학년|
| 11888| 남|유료회원|초2학년|
| 12394| 여|유료회원|초5학년|
| 12529| 남|유료회원|초3학년|
| 12847| 남|유료회원|초6학년|
| 13192| 남|유료회원|초2학년|
| 13282| 남|유료회원|초5학년|
| 13442| 여|유료회원|초5학년|
| 13610| 남|유료회원|초3학년|
| 13772| 남|유료회원|초2학년|
| 13865| 남|유료회원|초5학년|
| 14204| 여|유료회원|초5학년|
+------+---+--------+-------+
only showing top 20 rows

### 6. regdate_his 등록일(reg_date)이 2023.03.15일인 유료회원들이 가장 많이 착용한 아이템(codename) TOP3를 뽑아주세요 (8)

In [29]:
regdate.filter(F.col("regdate") == "20230315") \
  .join(member.filter(F.col("status") == "유료회원"), on="idx") \
  .join(item_his, on="idx") \
  .groupBy("codename") \
  .count() \
  .orderBy(F.desc("count")) \
  .limit(3).show()

+----------+-----+
|  codename|count|
+----------+-----+
|상태메시지|   74|
|      헤어|   67|
|      얼굴|   47|
+----------+-----+

### 7. member 테이블의 grade 컬럼에서 숫자만 뽑아 grade라는 컬럼을 재구성해주세요. (초3학년 -> 3) (8)  (UDF, slicing 사용 X)

In [30]:
member.withColumn("grade", F.regexp_extract(F.col("grade"), r'(\d+)', 0)).show()

+------+---+--------+-----+
|   idx|sex|  status|grade|
+------+---+--------+-----+
|   100| 남|유료회원|    1|
|  1000| 여|유료회원|    5|
| 10000| 여|유료회원|    6|
|100007| 남|유료회원|    4|
| 10001| 남|유료회원|    2|
|100010| 남|유료회원|    4|
|100011| 여|유료회원|    4|
|100017| 여|유료회원|    0|
|100019| 남|유료회원|    3|
| 10002| 여|유료회원|    4|
|100020| 남|유료회원|    5|
| 10003| 남|유료회원|    3|
|100030| 남|유료회원|    0|
|100031| 여|유료회원|    2|
|100037| 남|유료회원|    3|
|100039| 남|유료회원|    4|
| 10004| 여|유료회원|    3|
|100042| 남|유료회원|    2|
|100044| 여|유료회원|    5|
|100045| 남|유료회원|    2|
+------+---+--------+-----+
only showing top 20 rows

### 8. study_his 월별로 pointnm 컬럼에 대한 point 발생 수(count)를 오름차순으로 순번 매겨주세요 (10)

In [50]:
monthly_point_count = study_his.groupBy("proc_ym", "pointnm").count()

window_spec = W.partitionBy("proc_ym").orderBy("count")

result = monthly_point_count.withColumn("rank", F.row_number().over(window_spec))

result.orderBy("proc_ym", "rank").show()

+-------+-----------------+-----+----+
|proc_ym|          pointnm|count|rank|
+-------+-----------------+-----+----+
| 202304|        중학 특강|   41|   1|
| 202304|        학교 체험|   42|   2|
| 202304|         받아쓰기|   60|   3|
| 202304| 학교 공부 맛보기|   65|   4|
| 202304|       중학 3학년|  153|   5|
| 202304|       중학 2학년|  237|   6|
| 202304|          AI 국어|  259|   7|
| 202304|          AI 영어|  319|   8|
| 202304|      한글 스피치|  543|   9|
| 202304|     자기소개하기|  851|  10|
| 202304|      중학 신입생| 2172|  11|
| 202304|       중학 1학년| 2179|  12|
| 202304|        일기 쓰기| 2760|  13|
| 202304|도전! AI 받아쓰기| 3276|  14|
| 202304| 밀크T 지오그래픽| 4153|  15|
| 202304|   AI 구구단 게임| 7331|  16|
| 202304|     AI서술형평가|19981|  17|
| 202305|        학교 체험|    7|   1|
| 202305|         받아쓰기|   42|   2|
| 202305|        중학 특강|   42|   3|
+-------+-----------------+-----+----+
only showing top 20 rows

### 9.  레벨이 151~160 에 있는 유저들 중 딱 한 명씩만 등록한 날짜들을 구해주세요.
   레벨은 idx가 가진 레벨중 가장 높은 레벨로 사용(10) -> 중복처리에 유의

In [36]:

item_his.filter((F.col("lv") >= 151) & (F.col("lv") <= 160)) \
  .groupBy("proc_ymd") \
  .count() \
  .filter(F.col("count") == 1) \
  .select("proc_ymd").show()

+--------+
|proc_ymd|
+--------+
+--------+

### 10. item_his 테이블에서 레벨이 null인 유저가 가장 많은 날짜를 구해주세요 (10)

In [38]:
item_his.filter(F.col("lv").isNull()) \
  .groupBy("proc_ymd") \
  .count() \
  .orderBy(F.desc("count")) \
  .limit(1) \
  .select("proc_ymd").show()

+--------+
|proc_ymd|
+--------+
|20230504|
+--------+

### 11. pointnm 별로 획득한 point의 종류가 언더바(_)로 이어져서 보이도록 테이블을 만들어 주세요 (10)

    |pointnm|point종류|
    |---|---|
    |point_A|1_2_3_4_5|
    |point_B|1_4_5|

In [45]:
study_his.join(point_his, on="idx", how="inner") \
  .groupBy("pointnm") \
  .agg(F.concat_ws("_", F.collect_list("point")).alias("points_concatenated")).show()

+-----------------+--------------------+
|          pointnm| points_concatenated|
+-----------------+--------------------+
|        일기 쓰기|2000_500_4500_300...|
|        학교 체험|2000_2500_1000_15...|
|        중학 특강|4000_3500_4500_25...|
|          AI 영어|3500_3000_2000_25...|
|도전! AI 받아쓰기|5000_2000_3000_25...|
| 학교 공부 맛보기|3000_3500_1000_25...|
|      중학 신입생|500_1000_2000_350...|
|          AI 국어|4500_5000_3500_30...|
| 밀크T 지오그래픽|3500_4000_3000_50...|
|       중학 1학년|1500_3500_500_300...|
|      한글 스피치|5000_500_3000_250...|
|         받아쓰기|2500_500_1000_150...|
|       중학 3학년|500_1500_1000_400...|
|       중학 2학년|500_500_3000_1500...|
|   AI 구구단 게임|4500_3500_4000_50...|
|     자기소개하기|4500_4000_5000_25...|
|     AI서술형평가|4000_4500_3500_30...|
+-----------------+--------------------+

### 12. member의 status 컬럼에서 '회원'단어가 있으면 띄어쓰기하고 없으면 띄어쓰기 후 회원 단어 추가해주세요 (유료회원 -> 유효 회원  /  신규 -> 신규 회원) (10)

In [46]:
member.withColumn("status",
    F.when(F.col("status").contains("회원"), F.regexp_replace("status", "회원", " 회원"))
    .otherwise(F.concat(F.col("status"), F.lit(" 회원")))).show()

+------+---+---------+-------+
|   idx|sex|   status|  grade|
+------+---+---------+-------+
|   100| 남|유료 회원|초1학년|
|  1000| 여|유료 회원|초5학년|
| 10000| 여|유료 회원|초6학년|
|100007| 남|유료 회원|초4학년|
| 10001| 남|유료 회원|초2학년|
|100010| 남|유료 회원|초4학년|
|100011| 여|유료 회원|초4학년|
|100017| 여|유료 회원|  0학년|
|100019| 남|유료 회원|초3학년|
| 10002| 여|유료 회원|초4학년|
|100020| 남|유료 회원|초5학년|
| 10003| 남|유료 회원|초3학년|
|100030| 남|유료 회원|  0학년|
|100031| 여|유료 회원|초2학년|
|100037| 남|유료 회원|초3학년|
|100039| 남|유료 회원|초4학년|
| 10004| 여|유료 회원|초3학년|
|100042| 남|유료 회원|초2학년|
|100044| 여|유료 회원|초5학년|
|100045| 남|유료 회원|초2학년|
+------+---+---------+-------+
only showing top 20 rows