## [1] 데이터 불러오기

[movie_ratings.csv](https://prod-files-secure.s3.us-west-2.amazonaws.com/f2678325-6f7b-4a25-b188-86c42030d6d5/5884c8a4-2a89-4407-a8d6-7c18df7f177d/movie_ratings.csv)

1. 파일을 불러와서 데이터프레임을 생성하세요.

In [1]:
import pandas as pd



df = pd.read_csv("./data/movie_ratings.csv")


print(df)

     UserID  MovieID  Rating  Age  Occupation    Genre
0        45        8       4   55  Unemployed   Horror
1        48        5       3   15    Engineer   Action
2        65        4       2   55     Student  Romance
3        68        6       5   45      Doctor   Comedy
4        68        7       4   25    Engineer  Romance
..      ...      ...     ...  ...         ...      ...
495       4        4       4   50      Doctor   Action
496      13       14       4   55     Student   Horror
497      59        5       5   40     Student   Comedy
498       2       20       3   40      Artist   Action
499       1        7       2   20      Artist  Romance

[500 rows x 6 columns]

## **[2] 데이터 확인하기**

1. 데이터의 처음 5행과 마지막 5행을 출력하세요.
2. 데이터의 구조, 즉 행과 열의 수를 출력하세요.
3. 각 컬럼의 데이터 타입을 출력하세요.

In [5]:
# 1
print(df.head(5), df.tail(5))

# 2
print(df.shape)

# 3
print(df.dtypes)

   UserID  MovieID  Rating  Age  Occupation    Genre
0      45        8       4   55  Unemployed   Horror
1      48        5       3   15    Engineer   Action
2      65        4       2   55     Student  Romance
3      68        6       5   45      Doctor   Comedy
4      68        7       4   25    Engineer  Romance      UserID  MovieID  Rating  Age Occupation    Genre
495       4        4       4   50     Doctor   Action
496      13       14       4   55    Student   Horror
497      59        5       5   40    Student   Comedy
498       2       20       3   40     Artist   Action
499       1        7       2   20     Artist  Romance
(500, 6)
UserID         int64
MovieID        int64
Rating         int64
Age            int64
Occupation    object
Genre         object
dtype: object

## **[3] 범주형 자료 확인하기**

1. 영화 장르(**`Genre`**) 컬럼의 유니크한 값과 각 장르별 영화 수를 출력하세요.
2. 사용자의 직업(**`Occupation`**) 컬럼의 유니크한 값과 각 직업별 사용자 수를 출력하세요.

In [11]:
# 1
print(f"장르 이름:{df['Genre'].unique()}")
print(df["Genre"].value_counts())

# 2
print(f"사용자의 직업:{df['Occupation'].unique()}")
print(df["Occupation"].value_counts())

장르 이름:['Horror' 'Action' 'Romance' 'Comedy' 'Drama']
Genre
Romance    119
Drama      104
Horror     101
Action      94
Comedy      82
Name: count, dtype: int64
사용자의 직업:['Unemployed' 'Engineer' 'Student' 'Doctor' 'Artist']
Occupation
Artist        108
Engineer      104
Doctor        102
Unemployed     99
Student        87
Name: count, dtype: int64

## [4] **수치형 자료 확인하기**

1. 사용자 나이(**`Age`**) 컬럼의 평균, 최소값, 최대값을 출력하세요.
2. 영화 평점(**`Rating`**) 컬럼에 대한 기술 통계량(평균, 표준편차, 최소값, 최대값, 사분위수)을 출력하세요.

In [21]:
#1
print(f"평균: {df["Age"].mean()} 최소값: {df["Age"].min()} 최대값: {df["Age"].max()}")

#2
print(df["Rating"].describe())

평균: 38.52 최소값: 15 최대값: 60
count    500.000000
mean       2.998000
std        1.434612
min        1.000000
25%        2.000000
50%        3.000000
75%        4.000000
max        5.000000
Name: Rating, dtype: float64