## [ì‹¤ìŠµ]

<aside>
ğŸ’¡ ë¬¸ì œë¥¼ ì½ê³  í•´ë‹¹ ë¬¸ì œë¥¼ í•´ê²°í•˜ê¸° ìœ„í•œ ì½”ë“œë¥¼ ì‘ì„±í•˜ì„¸ìš”.

</aside>

### (1) ë°ì´í„° ë¶ˆëŸ¬ì˜¤ê³  ì €ì¥í•˜ê¸°

[titanic.csv](https://prod-files-secure.s3.us-west-2.amazonaws.com/f2678325-6f7b-4a25-b188-86c42030d6d5/ca4938ca-19f2-4d57-9d62-bec7883ef54c/titanic.csv)

1. ìœ„ ë°ì´í„° íŒŒì¼ì„ ë‹¤ìš´ë¡œë“œ ë°›ìŠµë‹ˆë‹¤.
2. íŒŒì¼ì„ ë¶ˆëŸ¬ì™€ì„œ ë°ì´í„°í”„ë ˆì„ì„ ìƒì„±í•˜ì„¸ìš”.
3. í•´ë‹¹ ë°ì´í„°í”„ë ˆì„ì„ `json` íŒŒì¼ë¡œ ì €ì¥í•˜ì„¸ìš”.

In [1]:
import pandas as pd
df = pd.read_csv("./data/titanic.csv")
print(df)

     survived  pclass     sex   age  sibsp  parch     fare embarked   class  \
0           0       3    male  22.0      1      0   7.2500        S   Third
1           1       1  female  38.0      1      0  71.2833        C   First
2           1       3  female  26.0      0      0   7.9250        S   Third
3           1       1  female  35.0      1      0  53.1000        S   First
4           0       3    male  35.0      0      0   8.0500        S   Third
..        ...     ...     ...   ...    ...    ...      ...      ...     ...
886         0       2    male  27.0      0      0  13.0000        S  Second
887         1       1  female  19.0      0      0  30.0000        S   First
888         0       3  female   NaN      1      2  23.4500        S   Third
889         1       1    male  26.0      0      0  30.0000        C   First
890         0       3    male  32.0      0      0   7.7500        Q   Third

       who  adult_male deck  embark_town alive  alone
0      man        True  NaN  Southampton    no  False
1    woman       False    C    Cherbourg   yes  False
2    woman       False  NaN  Southampton   yes   True
3    woman       False    C  Southampton   yes  False
4      man        True  NaN  Southampton    no   True
..     ...         ...  ...          ...   ...    ...
886    man        True  NaN  Southampton    no   True
887  woman       False    B  Southampton   yes   True
888  woman       False  NaN  Southampton    no  False
889    man        True    C    Cherbourg   yes   True
890    man        True  NaN   Queenstown    no   True

[891 rows x 15 columns]

### (2) ë„¤ì´ë²„ ìƒí’ˆ ì •ë³´ ë¶ˆëŸ¬ì™€ì„œ ì €ì¥í•˜ê¸°

1. ë„¤ì´ë²„ ìƒí’ˆ ì •ë³´ ë°ì´í„° `json` íŒŒì¼ì„ ë¶ˆëŸ¬ì™€ì„œ ë°ì´í„°í”„ë ˆì„ì„ ìƒì„±í•˜ì„¸ìš”.
2. í•´ë‹¹ ë°ì´í„°í”„ë ˆì„ì„ `csv` íŒŒì¼ë¡œ ì €ì¥í•˜ì„¸ìš”.

In [2]:
df2 = pd.read_json("./data/Keyboard_info.json")
print(df2)

                                            ìƒí’ˆëª…          ê°€ê²©  \
0                      ì§€í´ë¦­ì»¤ ì˜¤í”¼ìŠ¤í”„ë¡œ ì €ì†ŒìŒ ìŠ¬ë¦¼ ë¬´ì„  í‚¤ë³´ë“œ   ìµœì €18,900ì›
1          ì§€í´ë¦­ì»¤ ë ˆíŠ¸ë¡œ SPK 100 ì €ì†ŒìŒ ë¬´ì„  ë¸”ë£¨íˆ¬ìŠ¤ ê¸°ê³„ì‹ í‚¤ë³´ë“œ   ìµœì €59,500ì›
2    ì§€í´ë¦­ì»¤ ì˜¤í”¼ìŠ¤í”„ë¡œ WK30 ì›€ì§ì´ëŠ” ë§ˆì¹´ë¡± ìŠ¬ë¦¼ ë¼ì´íŠ¸ ì €ì†ŒìŒ ë¬´ì„  í‚¤ë³´ë“œ   ìµœì €17,800ì›
3            COX CK420 êµì²´ì¶• ë ˆì¸ë³´ìš° LED ê²Œì´ë° ê¸°ê³„ì‹ í‚¤ë³´ë“œ   ìµœì €34,900ì›
4                        QSENN SEM-DT35 NEW USB   ìµœì €14,900ì›
..                                          ...         ...
152                    ì•±ì½” KN01 í…í‚¤ë¦¬ìŠ¤ PBT ë¬´ì ‘ì  í‚¤ë³´ë“œ  ìµœì €102,000ì›
153              ë ˆë“œë¹ˆ ë”ë² ëŸ¬ í…í‚¤ë¦¬ìŠ¤ ì €ì†ŒìŒ ë¬´ì„  ê¸°ê³„ì‹ í‚¤ë³´ë“œ A1   ìµœì €79,000ì›
154                                 í•œì„±ì»´í“¨í„° BK330   ìµœì €24,900ì›
155           COX ì—”ë°ë²„ ì˜¤ë¦¬ì§€ë„ ë ˆíŠ¸ë¡œ PBT ë¬´ì ‘ì  í…í‚¤ë¦¬ìŠ¤ í‚¤ë³´ë“œ  ìµœì €133,000ì›
156            ì•±ì½” K660M TKL í…í‚¤ë¦¬ìŠ¤ PBT ì²´ë¦¬ ê¸°ê³„ì‹ í‚¤ë³´ë“œ   ìµœì €62,000ì›

                                              ìƒí’ˆ ì •ë³´ ì£¼ì†Œ            ë¬´ì„
0    https://cr.shopping.naver.com/adcr.nhn?x=8iz9T...     ì—°ê²°ë°©ì‹ : ë¬´ì„
1    https://cr.shopping.naver.com/adcr.nhn?x=P0R%2...  ì—°ê²°ë°©ì‹ : ìœ ë¬´ì„ ê²¸ìš©
2    https://cr.shopping.naver.com/adcr.nhn?x=LNg%2...     ì—°ê²°ë°©ì‹ : ë¬´ì„
3    https://cr.shopping.naver.com/adcr.nhn?x=cEcIH...     ì—°ê²°ë°©ì‹ : ìœ ì„
4    https://cr.shopping.naver.com/adcr.nhn?x=TwKTL...     ì—°ê²°ë°©ì‹ : ìœ ì„
..                                                 ...           ...
152  https://cr.shopping.naver.com/adcr.nhn?x=UYgsH...     ì—°ê²°ë°©ì‹ : ìœ ì„
153  https://cr.shopping.naver.com/adcr.nhn?x=a2YTl...  ì—°ê²°ë°©ì‹ : ìœ ë¬´ì„ ê²¸ìš©
154  https://cr.shopping.naver.com/adcr.nhn?x=jhyz0...     ì—°ê²°ë°©ì‹ : ë¬´ì„
155  https://cr.shopping.naver.com/adcr.nhn?x=OLHQu...     ì—°ê²°ë°©ì‹ : ìœ ì„
156  https://cr.shopping.naver.com/adcr.nhn?x=ykgQA...     ì—°ê²°ë°©ì‹ : ìœ ì„

[157 rows x 4 columns]