In [72]:
import sqlite3
import pandas as pd

con = sqlite3.connect("example.db")

In [73]:
cur = con.cursor()

In [74]:
df1 = pd.read_csv("./df_khan.csv")
df2 = pd.read_csv("./df_ebs.csv")

In [75]:
df1.to_sql("khan", con)
df2.to_sql("ebs", con)

con.close()

ValueError: Table 'khan' already exists.

In [76]:
con = sqlite3.connect("example.db")
df_k = pd.read_sql("select *from khan", con)
con.close()

In [77]:
con = sqlite3.connect("example.db")
df_e = pd.read_sql("select *from ebs", con)
con.close()

In [78]:
df_e

,index,강의,태그,text,태그1,태그2,태그3
0,0,1강,"[0, 11, 7]",안녕하세요 우리 친구들 만나서 반갑습니다. 여러분들과 함께 초등수학 개념 찾기로 ...,0,11.0,7.0
1,1,2강,"[0, 1, 2]",안녕하세요. 우리 EBS 친구들 반갑습니다. 여러분 어떻게 잘 지내셨어요? 선생님 ...,0,1.0,2.0
2,2,3강,"[3, 0]",안녕하세요 우리 친구들 초등수학 개념 찾기 나소은 선생님입니다. 여러분! 이번 시...,3,0.0,NaN
3,3,4강,"[4, 3, 9, 10, 11]",여러분 안녕하세요. 자 우리 친구들과 함께 개념의 내용을 확실하게 잡아줄 아주 좋...,4,3.0,9.0
4,4,5강,"[0, 1, 2, 3, 4, 5, 6]",초등학교 학교 초등학교 학교 초등학교 학교 초등학교 학교 초등학교 학교 초등학교 학...,0,1.0,2.0
5,5,6강,"[0, 5, 1, 2]",1. 2. 3. 4. 5. 6. 7. 8. 9. 10. 11. 12. 13. 14....,0,5.0,1.0
6,6,7강,"[0, 6, 7, 9, 22]",안녕하세요 우리 친구들 반갑습니다 안녕하세요 우리 친구들 반갑습니다 여러분들과 함...,0,6.0,7.0
7,7,8강,"[0, 1, 2, 5, 6, 7]",초등수학의 개념 잡기 여러분들과 함께하는 초등수학의 개념 잡기 여러분들과 함께하는 ...,0,1.0,2.0
8,8,9강,"[0, 6, 7, 1, 2]",안녕하세요 우리 친구들 즐거운 수업시간입니다 선생님과 함께 할 준비 되셨죠? 우리 ...,0,6.0,7.0
9,9,10강,"[0, 12, 13, 18]",안녕하세요 초등수학 개념 찾기 나소은 선생님입니다. 여러분 어때요? 오늘 하루도 즐...,0,12.0,13.0
10,10,11강,"[13, 15, 16, 18]","그의 조립은 끝났다. 초등학과 여러분, 난 이미ing knife algorithm ...",13,15.0,16.0
11,11,12강,"[0, 13, 17, 8]",안녕하세요. 우리 친구들 하루 어떻게 잘 보내고 계신가요? 우리 즐거운 수학시간이죠...,0,13.0,17.0
12,12,13강,"[8, 13, 15, 12, 18]",42cm다라고 얘기를 하고 있어요 작은 정삼각형 1개의 둘레의 길이를 묻고 있습니다...,8,13.0,15.0
13,13,14강,"[15, 18, 13, 12, 11]",두 개의 직선이 만나서 이루는 각이 직각입니다. 그래서 직각입니다. 두 직선이 만나...,15,18.0,13.0
14,14,15강,"[12, 13, 15, 18]",안녕하세요 우리 친구들 즐거운 수학시간입니다 초등학생 개념 찾기 우리 이번 시간은요...,12,13.0,15.0
15,15,16강,"[8, 11, 9]",친한 친구 맞춰봐 왔어? 잠깐만 신난다 아파 어 뒤엣개 갖고 운동한 것 보세요 Ну...,8,11.0,9.0
16,16,17강,"[8, 11, 1, 2]",할머니께서는 은정이 보다 감자를 몇 킬로그램 몇 그램 더 많이 캐셨는지 프리과정을 ...,8,11.0,1.0
17,17,18강,"[12, 18, 11, 13, 15]",안녕하세요 우리 친구들. 반가워요. 이번 시간은요 각도에 대해서 함께 알아보는 시간...,12,18.0,11.0
18,18,19강,"[8, 3, 4, 11, 18, 13, 15]",1킬로미터를 우리는 1000미터라고 얘기를 한단 말이에요. 그럼 이 1000미터 안...,8,3.0,4.0
19,19,20강,"[0, 1, 6, 5, 19, 11]",안녕하세요. 우리 친구들 만나서 반갑습니다. 초등사학 기념잡기 여러분과 함께 할 시...,0,1.0,6.0
20,20,21강,"[0, 1, 2, 7, 11]",안녕하세요. 우리 친구들 초등수학 개념찾기 나소은 선생님입니다. 우리 친구들과 이번...,0,1.0,2.0
21,21,22강,"[1, 22, 23, 11]",나라를 선택한 학생수는 20명에다가 4명씩 3칸 12만큼을 더하여서 32명이라고 답...,1,22.0,23.0
22,22,23강,"[0, 29]",여러분 안녕하세요. 수학의 개념을 확실하게 잡아보는 시간이죠. 여러분과 함께 준비한...,0,29.0,NaN
23,23,24강,"[0, 19, 20, 27]",해결해 준 것이다 라고도 표현해 줄 수 있게 되는 거고요. 표만 들어 문제를 해결하...,0,19.0,20.0
24,24,25강,"[25, 26, 3, 4]",안녕하세요. 정말 반갑습니다. 김연경입니다. 오늘의 게스트는 김연경입니다. 안녕하세...,25,26.0,3.0
25,25,26강,"[4, 5, 25, 26]",14 가 되어야 되는데요 나누기 4 를 해보세요 그러면 14 가 되나요 아 그렇군요...,4,5.0,25.0
26,26,27강,"[0, 1, 2, 5]",여러분 안녕하세요. 정말 반갑습니다. 김연경 선생님입니다. 우리 친구들 기본 강의와...,0,1.0,2.0
27,27,28강,"[5, 3, 11, 13]",색소프라노 여러분 안녕하세요 정말 반갑습니다 김연경 선생님이에요 자 우리 친구들 저...,5,3.0,11.0
28,28,29강,"[5, 4, 3]","여러분 안녕하세요 김연경 선생님입니다. 자, 우리 친구들 정말 축하합니다. 오늘은요...",5,4.0,3.0
29,29,30강,"[5, 6, 3, 8]",여러분 안녕하세요. 반갑습니다. 김연경 선생님입니다. 우리 친구들 저번 시간까지는요...,5,6.0,3.0
30,30,31강,"[4, 6]",여러분 안녕하세요. 반갑습니다. 김연경 선생님입니다. 자 우리 친구들 선생님이요 언...,4,6.0,NaN
31,31,32강,"[0, 6, 4]","오빠 енной이 비슷해보이지 않아요? 금일, בכ사 wrote the stars...",0,6.0,4.0
32,32,33강,"[0, 6, 5, 4]",여러분 안녕하세요 정말 반갑습니다 김연경 선생님이에요 자 우리 친구들 오늘 수업 시...,0,6.0,5.0
33,33,34강,"[0, 11, 13]",여러분 안녕하세요. 반갑습니다. 김연경 선생님이에요. 자 우리 친구들 오늘이요 뭔가...,0,11.0,13.0
34,34,35강,"[17, 18, 19, 13]",네 여러분 안녕하세요 정말 반갑습니다 김연경 선생님이에요 자 우리 친구들 오늘은요 ...,17,18.0,19.0
35,35,36강,"[14, 11, 8, 13]",여러분 안녕하세요 반갑습니다 김양경선생님 이에요 자 우리 친구들 우리요 처음에는 계...,14,11.0,8.0
36,36,37강,"[14, 15, 17, 18]",여러분 안녕하세요 정말 반갑습니다 김연경선생님 이에요 자 우리 친구들 오늘 배우는 ...,14,15.0,17.0
37,37,38강,"[15, 16]",여러분 안녕하세요. 반갑습니다. 김연경 선생님이에요. 우리 친구들 오늘 도형의 대칭...,15,16.0,NaN
38,38,39강,"[0, 23, 22]",여러분 안녕하세요 반갑습니다 김연경 선생님 이에요 자 우리 친구들 선생님과 함께 5...,0,23.0,22.0
39,39,40강,"[19, 20, 21, 22]",여러분 안녕하세요. 반갑습니다. 김연경 선생님이에요. 우리 친구들 선생님과 함께 5...,19,20.0,21.0
40,40,41강,"[22, 19, 23]","그런데 우리 친구들 방금 전에 봤던 띠 그래프랑 조금 모양이 달라요 음식물, 플라스...",22,19.0,23.0
41,41,42강,"[19, 20, 21]","여러분, 안녕하세요. 반갑습니다. 김연경 선생님이에요. 자, 우리 친구들 5학년부터...",19,20.0,21.0
42,42,43강,"[3, 19, 20]",2를 곱했잖아요. 4 2 8 한거죠. 4 곱하기 2를 한 것입니다. 그래서 이것이 ...,3,19.0,20.0
43,43,44강,[24],여러분 안녕하세요 반갑습니다. 김연경 선생님이에요. 자 우리 친구들 오늘이요 굉장...,24,NaN,NaN
44,44,45강,"[28, 27, 1, 2, 4, 3]",7종류의 퀴즈 힌트를 찾아가보시죠 可以 하apter 요 sign 여 여 여 여 만남...,28,27.0,1.0

In [70]:
import sqlite3
import pandas as pd

# 라벨 딕셔너리 정의
labels_dict = {
    "수": 0,
    "덧셈": 1,
    "뺄셈": 2,
    "곱셈": 3,
    "나눗셈": 4,
    "분수": 5,
    "소수": 6,
    "소수점": 7,
    "길이": 8,
    "시간": 9,
    "화폐": 10,
    "측정": 11,
    "각도": 12,
    "평면도형": 13,
    "입체도형": 14,
    "도형": 15,
    "대칭": 16,
    "원": 17,
    "직각": 18,
    "비율": 19,
    "비례식": 20,
    "비": 21,
    "그래프": 22,
    "통계": 23,
    "확률": 24,
    "약수": 25,
    "배수": 26,
    "함수": 27,
    "미지수": 28,
    "규칙": 29,
}


def get_label_number(key):
    # 딕셔너리에서 키에 해당하는 값을 반환
    return labels_dict.get(key, "키가 존재하지 않습니다.")


# 입력 예시
key_to_lookup = input("조회할 키를 입력하세요: ")
label_number = get_label_number(key_to_lookup)


def query_with_value(database_path, value):
    # 데이터베이스에 연결
    conn = sqlite3.connect(database_path)

    # SQL 쿼리 작성 (태그1, 태그2, 태그3 열에 특정 값이 포함된 행을 조회)
    query = f"""
    SELECT name, text
    FROM khan
    WHERE 태그1 = {value} OR 태그2 = {value} OR 태그3 = {value}
    """

    # 쿼리 실행 및 데이터프레임으로 변환
    df_result = pd.read_sql_query(query, conn)

    # 연결 종료
    conn.close()

    # 결과 반환
    return df_result


# 사용 예시
database_path = "example.db"
value_to_search = label_number  # 찾을 값
df_result = query_with_value(database_path, value_to_search)

# 결과 출력
print(df_result)

                                                name  \
0  y2mate.com - Corresponding points and sides of...
1  y2mate.com - Greater than and less than symbol...
2   y2mate.com - Transformations dilation_720pFH.txt

                                                text
0  우리는 그림 2가 그림 1의 축척 복사본이라고 알려져 있습니다. 그래서 이것이 그림...
1  우리 대부분은 등호를 알고 있습니다. 산수를 배우기 시작한 가장 초기부터, 우리는 ...
2  이전 비디오에서 우리는 변형에 대한 아이디어를 이야기하기 시작했습니다. 특히 우리는...

In [79]:
import sqlite3
import pandas as pd

# 라벨 딕셔너리 정의
labels_dict = {
    "수": 0,
    "덧셈": 1,
    "뺄셈": 2,
    "곱셈": 3,
    "나눗셈": 4,
    "분수": 5,
    "소수": 6,
    "소수점": 7,
    "길이": 8,
    "시간": 9,
    "화폐": 10,
    "측정": 11,
    "각도": 12,
    "평면도형": 13,
    "입체도형": 14,
    "도형": 15,
    "대칭": 16,
    "원": 17,
    "직각": 18,
    "비율": 19,
    "비례식": 20,
    "비": 21,
    "그래프": 22,
    "통계": 23,
    "확률": 24,
    "약수": 25,
    "배수": 26,
    "함수": 27,
    "미지수": 28,
    "규칙": 29,
}


def get_label_number(key):
    # 딕셔너리에서 키에 해당하는 값을 반환
    return labels_dict.get(key, "키가 존재하지 않습니다.")


# 입력 예시
key_to_lookup = input("조회할 키를 입력하세요: ")
label_number = get_label_number(key_to_lookup)


def query_with_value(database_path, value):
    # 데이터베이스에 연결
    conn = sqlite3.connect(database_path)

    # SQL 쿼리 작성 (태그1, 태그2, 태그3 열에 특정 값이 포함된 행을 조회)
    query = f"""
    SELECT 강의, text
    FROM ebs
    WHERE 태그1 = {value} OR 태그2 = {value} OR 태그3 = {value}
    """

    # 쿼리 실행 및 데이터프레임으로 변환
    df_result = pd.read_sql_query(query, conn)

    # 연결 종료
    conn.close()

    # 결과 반환
    return df_result


# 사용 예시
database_path = "example.db"
value_to_search = label_number  # 찾을 값
df_result = query_with_value(database_path, value_to_search)

# 결과 출력
print(df_result)

    강의                                               text
0   2강  안녕하세요. 우리 EBS 친구들 반갑습니다. 여러분 어떻게 잘 지내셨어요? 선생님 ...
1   5강  초등학교 학교 초등학교 학교 초등학교 학교 초등학교 학교 초등학교 학교 초등학교 학...
2   6강  1. 2. 3. 4. 5. 6. 7. 8. 9. 10. 11. 12. 13. 14....
3   8강  초등수학의 개념 잡기 여러분들과 함께하는 초등수학의 개념 잡기 여러분들과 함께하는 ...
4  17강  할머니께서는 은정이 보다 감자를 몇 킬로그램 몇 그램 더 많이 캐셨는지 프리과정을 ...
5  20강  안녕하세요. 우리 친구들 만나서 반갑습니다. 초등사학 기념잡기 여러분과 함께 할 시...
6  21강  안녕하세요. 우리 친구들 초등수학 개념찾기 나소은 선생님입니다. 우리 친구들과 이번...
7  22강  나라를 선택한 학생수는 20명에다가 4명씩 3칸 12만큼을 더하여서 32명이라고 답...
8  27강  여러분 안녕하세요. 정말 반갑습니다. 김연경 선생님입니다. 우리 친구들 기본 강의와...
9  45강  7종류의 퀴즈 힌트를 찾아가보시죠 可以 하apter 요 sign 여 여 여 여 만남...

In [64]:
labels_dict = {
    "수": 0,
    "덧셈": 1,
    "뺄셈": 2,
    "곱셈": 3,
    "나눗셈": 4,
    "분수": 5,
    "소수": 6,
    "소수점": 7,
    "길이": 8,
    "시간": 9,
    "화폐": 10,
    "측정": 11,
    "각도": 12,
    "평면도형": 13,
    "입체도형": 14,
    "도형": 15,
    "대칭": 16,
    "원": 17,
    "직각": 18,
    "비율": 19,
    "비례식": 20,
    "비": 21,
    "그래프": 22,
    "통계": 23,
    "확률": 24,
    "약수": 25,
    "배수": 26,
    "함수": 27,
    "미지수": 28,
    "규칙": 29,
}

In [61]:
conn = sqlite3.connect("example.db")
num = [0, 1]
# SQL 쿼리 작성 (태그 열이 [0, 1]을 포함하는 행을 조회)
query = f"""
SELECT * FROM khan
WHERE json_extract(태그1, '$') = '0'
"""

# 쿼리 실행 및 데이터프레임으로 변환
df_result = pd.read_sql_query(query, conn)

# 연결 종료
conn.close()

# 결과 출력
print(df_result)

Empty DataFrame
Columns: [index, name, 태그, text, 강의, 태그1, 태그2, 태그3]
Index: []

In [34]:
conn = sqlite3.connect("example.db")

# SQL 쿼리 작성 (태그 열이 [0, 1]을 포함하는 행을 조회)
query = f"""
SELECT * FROM khan_table
WHERE json_extract(태그, '$') = '[0, 1]'
"""

# 쿼리 실행 및 데이터프레임으로 변환
df_result = pd.read_sql_query(query, conn)

# 연결 종료
conn.close()

# 결과 출력
print(df_result)

Empty DataFrame
Columns: [index, name, 태그, content]
Index: []

In [19]:
# 데이터베이스에 연결
conn = sqlite3.connect("example.db")
cursor = conn.cursor()

# 테이블 생성 (영상 데이터를 저장할 BLOB 필드 포함)
cursor.execute(
    """
CREATE TABLE IF NOT EXISTS video_files (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT,
    video BLOB
)
"""
)


# 영상 파일을 읽어 BLOB 데이터로 변환
def read_video_file(file_path):
    with open(file_path, "rb") as file:
        return file.read()


# 영상 파일을 데이터베이스에 저장
file_path = "./khan_academy_kids/Video_ Comparing numbers of objects.mp4"
video_data = read_video_file(file_path)
cursor.execute(
    "INSERT INTO video_files (name, video) VALUES (?, ?)", ("video.mp4", video_data)
)

# 변경사항 저장 및 연결 종료
conn.commit()
conn.close()

print("영상 파일이 데이터베이스에 저장되었습니다.")

영상 파일이 데이터베이스에 저장되었습니다.

In [21]:
!pip install opencv-python

Collecting opencv-python
  Using cached opencv_python-4.10.0.84-cp37-abi3-win_amd64.whl.metadata (20 kB)
Requirement already satisfied: numpy>=1.17.0 in c:\users\user\desktop\chunjae_edu\.conda\lib\site-packages (from opencv-python) (1.24.4)
Using cached opencv_python-4.10.0.84-cp37-abi3-win_amd64.whl (38.8 MB)
Installing collected packages: opencv-python
Successfully installed opencv-python-4.10.0.84

In [26]:
import sqlite3
import numpy as np
import cv2
import tempfile
import shutil

# 데이터베이스에 연결
conn = sqlite3.connect("example.db")
cursor = conn.cursor()

# 쿼리 작성 (예: ID가 1인 비디오 파일을 조회)
query = "SELECT video FROM video_files WHERE name = ?"
video_name = "video.mp4"  # 조회할 비디오 파일의 이름

# 쿼리 실행
cursor.execute(query, (video_name,))
result = cursor.fetchone()

if result:
    video_data = result[0]

    # 임시 파일에 비디오 데이터 저장
    with tempfile.NamedTemporaryFile(delete=False, suffix=".mp4") as temp_file:
        temp_file.write(video_data)
        temp_file_path = temp_file.name

    # OpenCV를 사용하여 비디오 파일 읽기
    cap = cv2.VideoCapture(temp_file_path)

    if not cap.isOpened():
        print("비디오 파일을 열 수 없습니다.")
    else:
        while True:
            ret, frame = cap.read()
            if not ret:
                break

            # 비디오 프레임을 표시
            cv2.imshow("Video", frame)

            # 'q' 키를 눌러 비디오 창 닫기
            if cv2.waitKey(30) & 0xFF == ord("q"):
                break

        cap.release()
        cv2.destroyAllWindows()

    # 임시 파일 삭제
    os.remove(temp_file_path)
else:
    print("해당 이름의 비디오 파일이 없습니다.")

# 연결 종료
conn.close()

KeyboardInterrupt:

In [24]:
import sqlite3

# 데이터베이스에 연결
conn = sqlite3.connect("example.db")
cursor = conn.cursor()

# 비디오 파일의 메타데이터를 조회하는 쿼리
query = "SELECT id, name FROM video_files"

# 쿼리 실행
cursor.execute(query)
results = cursor.fetchall()

# 결과 출력
for row in results:
    print(f"ID: {row[0]}, Name: {row[1]}")

# 연결 종료
conn.close()

ID: 1, Name: video.mp4