In [64]:
docs = [
    "마트 딸기 진짜 비싸다",
    "나는 오늘 아침 사과 먹겠다",
    "아침 사과 금 사과",
    "나는 오늘 저녁 딸기 먹겠다",
]

In [65]:
[word for word in docs]

['마트 딸기 진짜 비싸다', '나는 오늘 아침 사과 먹겠다', '아침 사과 금 사과', '나는 오늘 저녁 딸기 먹겠다']

In [3]:
[word.split() for word in docs]

[['마트', '딸기', '진짜', '비싸다'],
 ['나는', '오늘', '아침', '사과', '먹겠다'],
 ['아침', '사과', '금', '사과'],
 ['나는', '오늘', '저녁', '딸기를', '먹겠다']]

In [4]:
vocab = list(set([word for doc in docs for word in doc.split()]))

In [5]:
vocab.sort()

In [6]:
N = len(docs)

In [7]:
vocab

['금', '나는', '딸기', '딸기를', '마트', '먹겠다', '비싸다', '사과', '아침', '오늘', '저녁', '진짜']

In [8]:
import pandas as pd

df = pd.DataFrame()
for i in range(len(vocab)):
    df[vocab[i]] = 0

In [9]:
df[vocab[1]]

Series([], Name: 나는, dtype: int64)

In [10]:
df["docs"] = ""

In [11]:
for i in range(len(vocab)):
    for k in docs[1].split(" "):
        df[vocab[i]] == k
        df[vocab[i]] += 1

In [12]:
df

Empty DataFrame
Columns: [금, 나는, 딸기, 딸기를, 마트, 먹겠다, 비싸다, 사과, 아침, 오늘, 저녁, 진짜, docs]
Index: []

In [13]:
for i in docs[1].split(" "):
    print(i in vocab)

True
True
True
True
True

In [14]:
dtm = []
for idx in range(N):
    doc = docs[idx]
    in_dtm = []

    for v_idx in range(len(vocab)):
        voca = vocab[v_idx]
        in_dtm.append(doc.count(voca))

    dtm.append(in_dtm)

dtm

[[0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1],
 [0, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0],
 [1, 0, 0, 0, 0, 0, 0, 2, 1, 0, 0, 0],
 [0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0]]

In [15]:
voca

'진짜'

In [16]:
doc.count(voca)

0

In [17]:
import pandas as pd

pd.DataFrame(dtm, columns=vocab, index=["docs1", "docs2", "docs3", "docs4"])

       금  나는  딸기  딸기를  마트  먹겠다  비싸다  사과  아침  오늘  저녁  진짜
docs1  0   0   1    0   1    0    1   0   0   0   0   1
docs2  0   1   0    0   0    1    0   1   1   1   0   0
docs3  1   0   0    0   0    0    0   2   1   0   0   0
docs4  0   1   1    1   0    1    0   0   0   1   1   0

In [18]:
import numpy as np


def tf(t, d):
    # 문서 d에서 단어 t가 몇번이나 나왔는지를 카운트한 뒤 리턴
    return d.count(t)


def df(t, D):
    # 문서군 D의 각 문서 d에서 t가 몇번이나 나왔는지를 카운트한 뒤 리턴. 단, d에서 t가 존재하는지 여부만 체크
    df = 0
    for d in D:
        df += t in d
    return df


def idf(t, D):
    # df의 역수를 리턴
    return np.log(len(D) / (df(t, D) + 1))


def tf_idf(t, d, D):
    # tf * idf를 리턴
    return tf(t, d) * idf(t, D)

In [19]:
tf("나는", "나는 오늘 저녁 딸기를 먹겠다")

1

In [20]:
df("나는", docs)

2

In [21]:
idf("나는", docs)

0.28768207245178085

In [22]:
tf_idf("나는", "나는 오늘 저녁 딸기를 먹겠다", docs)

0.28768207245178085

In [23]:
result = []

for idx in range(N):
    result.append([])
    doc = docs[idx]

    for v_idx in range(len(vocab)):
        token = vocab[v_idx]
        result[-1].append(tf(token, doc))

result

[[0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1],
 [0, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0],
 [1, 0, 0, 0, 0, 0, 0, 2, 1, 0, 0, 0],
 [0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0]]

In [24]:
_tf = pd.DataFrame(result, columns=vocab)
_tf

   금  나는  딸기  딸기를  마트  먹겠다  비싸다  사과  아침  오늘  저녁  진짜
0  0   0   1    0   1    0    1   0   0   0   0   1
1  0   1   0    0   0    1    0   1   1   1   0   0
2  1   0   0    0   0    0    0   2   1   0   0   0
3  0   1   1    1   0    1    0   0   0   1   1   0

In [25]:
result = []
for v_idx in range(len(vocab)):
    token = vocab[v_idx]
    result.append(idf(token, docs))

In [26]:
pd.DataFrame(result, index=vocab, columns=["IDF"])

          IDF
금    0.693147
나는   0.287682
딸기   0.287682
딸기를  0.693147
마트   0.693147
먹겠다  0.287682
비싸다  0.693147
사과   0.287682
아침   0.287682
오늘   0.287682
저녁   0.693147
진짜   0.693147

In [27]:
result = []
for idx in range(N):
    result.append([])
    d = docs[idx]

    for v_idx in range(len(vocab)):
        t = vocab[v_idx]
        result[-1].append(tf_idf(t, d, docs))

In [28]:
_tf_idf = pd.DataFrame(result, columns=vocab)

---

In [45]:
from sklearn.feature_extraction.text import CountVectorizer

In [46]:
vector = CountVectorizer()

In [47]:
vector.fit_transform(docs).toarray()

array([[0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1],
       [1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0],
       [0, 0, 0, 0, 0, 0, 2, 1, 0, 0, 0],
       [1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0]], dtype=int64)

In [48]:
vector.vocabulary_

{'마트': 3,
 '딸기': 1,
 '진짜': 10,
 '비싸다': 5,
 '나는': 0,
 '오늘': 8,
 '아침': 7,
 '사과': 6,
 '먹겠다': 4,
 '저녁': 9,
 '딸기를': 2}

In [49]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [66]:
tfidf = TfidfVectorizer()

In [67]:
arr = tfidf.fit_transform(docs).toarray()

In [72]:
docs

['마트 딸기 진짜 비싸다', '나는 오늘 아침 사과 먹겠다', '아침 사과 금 사과', '나는 오늘 저녁 딸기 먹겠다']

In [68]:
tfidf.vocabulary_

{'마트': 2,
 '딸기': 1,
 '진짜': 9,
 '비싸다': 4,
 '나는': 0,
 '오늘': 7,
 '아침': 6,
 '사과': 5,
 '먹겠다': 3,
 '저녁': 8}

In [69]:
col = tfidf.get_feature_names_out()

In [70]:
col

array(['나는', '딸기', '마트', '먹겠다', '비싸다', '사과', '아침', '오늘', '저녁', '진짜'],
      dtype=object)

In [71]:
pd.DataFrame(arr, columns=col)

,나는,딸기,마트,먹겠다,비싸다,사과,아침,오늘,저녁,진짜
0,0.000000,0.414289,0.525473,0.000000,0.525473,0.000000,0.000000,0.000000,0.000000,0.525473
1,0.447214,0.000000,0.000000,0.447214,0.000000,0.447214,0.447214,0.447214,0.000000,0.000000
2,0.000000,0.000000,0.000000,0.000000,0.000000,0.894427,0.447214,0.000000,0.000000,0.000000
3,0.422247,0.422247,0.000000,0.422247,0.000000,0.000000,0.000000,0.422247,0.535566,0.000000